.forgot_password,.forgot_password_sent{
	max-width: 682px;
	margin: 0 auto;
	padding: 0 16px;
}
.bg_sign{
	background: url(../images/bg_2.png) no-repeat left top,url(../images/bg_3.png) no-repeat right bottom;
}
body{
	display: flex !important;
	flex-direction: column;
	height: 100%;
}
.forgot_password_title{
	margin-top: 139px;
	text-align: center;
	font-size: 36px;
	color: #FF571F;
	font-weight: bold;
	font-family: Montserrat-Bold;
}
.forgot_password_content,.forgot_password_sent_content{
	margin-top: 18px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #3B3535;
}
.input{
	width: 100%;
	color: #C4C4C4;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 22px;
	border: 0;
	border-bottom: 1px solid  #C4C4C4;
	background: none;
	outline: none;
}
.input:focus{
	color: #3B3535;
	border-bottom: 1px solid #3B3535;
}
::placeholder{
	color: #C4C4C4;
}
.forgot_password_email{
	width: 60%;
	padding: 0 20%;
	margin-top: 13px;
}
.forgot_password_btn{
	display: flex;
    justify-content: center;
    margin: 22px 0;
}
.forgot_password_sent{
	display: none;
}
.forgot_password_sent_title{
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #FF571F;
	font-weight: bold;
	font-family: Montserrat-Bold;
	margin-top: 185px;
}

@media (max-width:768px){
	.forgot_password_email{
		width: 80%;
		padding: 0 10%;
	}
}
@media (max-width:480px){
	.forgot_password_title{
		margin-top: 60px;
		font-size: 20px;
	}
	.forgot_password_content,.forgot_password_sent_content{
		font-size: 14px;
		line-height: 20px;
		margin-top: 14px;
	}
	.forgot_password_email{
		width: 100%;
		padding: 0;
		margin-top: 16px;
	}
	.forgot_password_btn{
		margin: 12px 0;
	}
	.forgot_password_sent_title{
		margin-top: 24px;
		margin-bottom: 6px;
	}
}